<h1>Report</h1>
<div>
    <form action="/report/" method="POST">
    Username: <input type="text" name="username" id="username" /><br><br>
    Email:<input type="email" name="email" id="email"/><br><br>
    Report About: <input type="text" name="report_about" id="report_about"/><br><br>
    Description:<input type="text" name="description" id="description"/><br><br>
    <input type="submit" name="submit" id="submit" value="Report"/>
    </form>
</div>